{% extends "index-feed.html" %}

{% block header %}

<text style="font-size:32px">Knowledge Clusters {% endblock %}</text>

{% block inner_content %}
  {% block content_filter_groups %}
  {{ super() }}
  {% endblock %}
  <ul id="cluster_list">
  {% set groupby_arg = group_by %}
  {% set sortby_arg = request.args.get('sort_by') %}
  {% set sortasc_arg = request.args.get('sort_asc') %}

  {% for cluster, content in grouped_data %}
    {%- if groupby_arg == 'author' %}
      {% set contents = content[0] %}
      {% set auth_id = content[1] %}
    {%- else %}
      {% set contents = content %}
    {%- endif%}
    {%- if contents|length > 0 and cluster|length > 0 %}
    {% set cluster_id = cluster|replace('/', '__')|replace(' ', '__')|replace('-', '__') %}
    <li>
    <div id="{{ cluster_id|safe }}">
      <h6 style="margin-bottom:0"> {{ [cluster,' (', contents|length, ')'] | join }}
        <i class="glyphicon glyphicon-chevron-right cluster-dropdown"></i>
      </h6>
    </div>
    </li>
      <div id="{{ cluster_id|safe }}-content" style="display:none">
        <ul>
        {% for item in contents %}
          <li>
            <a href="{{'/post/' + item.path|urlencode }}">
              {{ item.title|replace('_', ' ')|title }}
            </a>
          </li>
        {% endfor %}
        </ul>
     </div>
    {%- endif%}
  {% endfor %}
  </ul>

{% endblock %}


{% block scripts %}
  {% block base_scripts %}
  {{ super () }}
  {% endblock %}
  {% block page_scripts %}
  <script type="text/javascript">
  $(document).ready(function() {
      var cluster_button = $(".btn-cluster")[0];
      $(cluster_button).addClass("btn-active");
      var glyphicon = $(".glyphicon-post-org.glyphicon-th-list")[0] ;
      $(glyphicon).addClass("glyphicon-active");

    })
  </script>
  {% endblock %}
{% endblock %}